# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Virtual environments
venv/
env/
*/.env
f1ml/


# FastF1 cache
data/cache/

# Raw data
data/*.csv
data/*.json
data/raw/

# Processed ML data
data/processed/

# Models
models/

# OS stuff
.DS_Store